.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.container{
    width: 100vw;
    justify-content: center;
    align-items: center;

    height: 350vh; /*Have a doubt here*/
}
.mode-toggle-button img{
    width:3%;
    height:8%;
    cursor: pointer;
    border-radius: 2rem;
}
.light-mode{
    background-color: white;
    color: black;
}
.dark-mode{
    background-color: rgb(62, 62, 62);
    color: #fdf7f7;
}



