<div>
    <div class="header-section" [class]="mode">
        <img class="header-image" src="assets/images/restaurant2.jfif" alt="header-image">

        <app-navigation-bar></app-navigation-bar>

        <div class="header-content">
            <img src="assets/images/logo.png" alt="zooked-logo">
        </div>

        <div class="search-box">

            <div class="location-button">
                <img src="assets/images/locationIcon.png" alt="Location-icon" style="height:80%;width:15%"
                    (click)="openDialog()">
                <button (click)="openDialog()">{{Location}}</button>
            </div>

            <div class="search-box-container">
                <img src="assets/images/searchIcon.png" alt="search-icon">
                <input class="search-restaurant-box" type="text" placeholder="Search for a restaurant around you">
            </div>
        </div>

        <div class="book-a-table-marker">
            <a href="#">
                <p>Book a Table</p>
            </a>
        </div>
    
    </div>

</div>